
table{
  margin: 20px;
  margin-left: 25px;
}
tbody {
  max-height: 200px;
  overflow: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.t-row:hover {
  background-color: rgba(233, 224, 224, 0.747);
}

button{
    margin: 2px 5px ;
    cursor: pointer;
   
  }
  button:hover{
    background-color: rgb(128, 165, 235);
  }
  input {
    width: 92%;
    margin: 1px 3px;
  }
  .table-header{
    display: flex;
  }
  .sortBtn{
    margin-left: 5px;
    cursor: pointer;
  }
  .edit-check-btns{
    display: flex;
    width: 145px;
    align-items: center;
  }
  table tbody tr:active, table tbody tr:hover {
    background: #ccc;
  }
  .editBtn{
    background-color: #17a2b8;
    border: 1px solid #ddd;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff
  }
  .deleteBtn{
    background-color: #bd2130;    
    border: 1px solid #ddd;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff
  }
  .delSelBtn{
    color: #212529;
  }
.addBtn{
  background-color: #1e7e34;
  border: 1px solid #ddd;
  padding: 3px 10px;
  border-radius: 3px;
  color: #fff
}
.selectAll{
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox {
  margin-left: 18px;
  width: auto;
}